    /* general */
    
    @media(min-width: 670px) {}
    
    html {
        box-sizing: border-box;
    }
    
    body {
        margin: 0px;
        padding: 0px;
        min-height: 100vh;
        background-color: rgba(236, 236, 236, 0.952);
        font-family: nyt-imperial, georgia, 'times new roman', times, serif;
    }
    /* nav */
    
    .times-logo {
        height: 25px !important;
        width: 200px !important;
        padding-top: 0;
    }
    
    .line {
        width: 100px;
    }
    
    .icons {
        width: 10px;
        height: 20px;
    }
    
    .hamb-logo {
        width: 25px;
        height: auto;
    }
    
    .icons li {
        margin-right: 20px;
    }
    
    .nav {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
        justify-content: space-between;
        border: 1px solid rgb(204, 204, 204);
        padding-left: 10px;
    }
    
    .icons {
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;
    }
    
    .buttons {
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;
        padding-top: 10px;
        margin-right: 20px !important;
    }
    
    .nav-bttn {
        width: 100px;
        height: 25px;
        background-color: rgb(86, 123, 149);
        color: white;
        border-radius: 3px;
        font-size: 10px;
        margin-left: 10px;
        border: 1px solid rgb(86, 123, 149);
    }
    /* main */
    
    main {
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9" "a10";
    }
    
    #article-heading {
        text-align: left;
        font-style: italic;
        font-size: 1.9375rem;
        font-weight: 700;
        line-height: 2.25rem;
    }
    
    .a1 {
        background-color: white;
        margin-left: auto;
        width: 100%;
        margin-right: auto;
        grid-area: a1;
        align-items: center;
    }
    
    .a1 p {
        margin-left: 400px;
        margin-right: 400px;
        line-height: 1.5625rem;
        text-align: left;
        font-size: 1.3rem;
    }
    
    .title-img {
        width: 800px;
        height: auto;
    }
    
    .top-title {
        text-align: center;
    }
    
    .top-text {
        text-align: left;
        margin-right: 350px;
        margin-left: 270px;
        color: #666;
        font-size: 0.875rem;
        line-height: 1.125rem;
    }
    
    .top-text-second {
        text-align: left;
        margin-right: 330px;
        margin-left: 270px;
        color: #666;
        font-size: 0.875rem;
        line-height: 1.125rem;
        padding-left: 110px;
        padding-right: 50px;
    }
    
    .a2 {
        grid-area: a2;
        background-color: white;
        font-size: 1.125rem;
    }
    
    .a2 p {
        margin-left: 400px;
        margin-right: 400px;
        line-height: 1.5625rem;
        text-align: left;
        font-size: 1.3rem;
    }
    
    .a3 {
        grid-area: a3;
        background-color: white;
        font-size: 1.125rem;
    }
    
    .a3 p {
        margin-left: 400px;
        margin-right: 400px;
        line-height: 1.5625rem;
        text-align: left;
        font-size: 1.3rem;
    }
    
    .a4 {
        grid-area: a4;
        background-color: white;
        font-size: 1.125rem;
    }
    
    .a4 p {
        margin-left: 400px;
        margin-right: 400px;
        line-height: 1.5625rem;
        text-align: left;
        font-size: 1.3rem;
    }
    
    .a5 {
        grid-area: a5;
        background-color: white;
        font-size: 1.125rem;
    }
    
    .a5 p {
        margin-left: 400px;
        margin-right: 400px;
        line-height: 1.5625rem;
        text-align: left;
        font-size: 1.3rem;
    }
    
    .a6 {
        grid-area: a6;
        background-color: white;
        font-size: 1.125rem;
    }
    
    .a6 p {
        margin-left: 400px;
        margin-right: 400px;
        line-height: 1.5625rem;
        text-align: left;
        font-size: 1.3rem;
    }
    
    .a7 {
        grid-area: a7;
        background-color: white;
        font-size: 1.125rem;
    }
    
    .a7 p {
        margin-left: 400px;
        margin-right: 400px;
        line-height: 1.5625rem;
        text-align: left;
        font-size: 1.3rem;
    }
    
    .a8 {
        grid-area: a8;
        background-color: white;
        font-size: 1.125rem;
    }
    
    .a8 p {
        margin-left: 400px;
        margin-right: 400px;
        line-height: 1.5625rem;
        text-align: left;
        font-size: 1.3rem;
    }
    
    .video {
        margin-left: 400px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .social-media .link {
        color: #333;
        font-size: 12px;
    }
    
    .social-media a {
        color: #333;
    }
    
    .date {
        font-size: 12px !important;
        color: #333;
    }
    
    .align-date {
        padding-left: 400px;
        padding-top: 10px;
    }
    
    .line-pos {
        text-align: left;
    }
    
    .media ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
    
    .bottom-bttn {
        padding-left: 400px;
        padding-top: 10px;
    }
    
    .bottom-bttn button {
        width: 300px;
        height: 30px;
        color: white;
        background-color: rgb(86, 123, 149);
        border-radius: 3px;
        border: 1px solid rgb(86, 123, 149);
    }
    
    .button-bttn button:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    /* footer */
    
    .align-logos {
        padding-right: 400px;
        ;
    }
    
    .media-logos {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
    }
    
    .logos {
        margin-left: 20px;
    }
    
    .logo {
        width: 20px;
        height: auto;
    }
    
    .inline-text p {
        text-align: center;
        font-size: 12px;
        line-height: 7px;
    }
    
    .link {
        color: rgb(50, 104, 145);
    }
    
    .link p:hover {
        text-decoration: none;
    }
    
    .a3 h3 {
        margin-left: 400px;
    }
    
    .a5 h4 {
        margin-left: 400px;
    }
    
    .a6 img {
        width: 580px;
        height: auto;
    }
    
    .a6 h4 {
        margin-left: 400px;
    }
    
    .last-text p {
        font-size: 0.75rem !important;
        line-height: 6px !important;
    }
    
    .text-small p {
        line-height: 6px;
        font-size: 10px;
    }
    
    .position {
        text-align: center;
    }
    
    .a9 {
        display: flex;
        margin: 0;
        padding: 0;
        background-color: white;
    }
    
    .container {
        width: 100%;
        height: 70%;
        margin-left: 70px;
    }
    
    .side-div {
        width: 40%;
        padding: 10px;
        margin-right: 70px;
    }
    
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "col1" "col2" "col3" "col4" "col5" "col6";
    }
    
    .editor {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "col8" "col9" "col10";
    }
    
    .editor img {
        width: 90%;
        height: 190px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    
    .container .ed-pic {
        padding-left: 30px;
    }
    
    .container .sub-article p {
        padding-left: 20px;
        cursor: pointer;
        font-size: 1.3125rem;
        line-height: 24px;
        margin-right: 10px;
    }
    
    .editor span {
        font-size: small;
        color: grey;
        margin-left: 30px;
    }
    
    .center {
        width: 50%;
        height: 50%;
    }
    
    .inf-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "center1" "center2" "center3" "center4" "center5" "center6" "center7" "center8";
    }
    
    .center1 img {
        width: 100%;
        height: 190px;
    }
    
    .center2 img {
        width: 90%;
        height: 190px;
    }
    
    .center3 img {
        width: 100%;
        height: 100%;
    }
    
    .center4 img {
        width: 90%;
        height: 190px;
    }
    
    .center5 img {
        width: 90%;
        height: 190px;
    }
    
    .center6 img {
        width: 90%;
        height: 50px;
    }
    
    .center7 img {
        width: 90%;
        height: 190px;
    }
    
    .center8 img {
        width: 90%;
        height: 190px;
    }
    
    .editor p:hover {
        color: grey;
    }
    
    .editor p {
        padding-left: 24px;
        cursor: pointer;
        font-size: 1.3125rem;
        line-height: 24px;
    }
    
    .gallery img {
        width: 90%;
        height: 190px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    
    .gallery p {
        margin-left: 25px;
        cursor: pointer;
        font-size: 1.3125rem;
        line-height: 24px;
        margin-right: 10px;
    }
    
    .gallery p:hover {
        color: grey;
    }
    
    .gallary-header {
        margin-left: 30px;
    }
    
    .side-barlinks {
        margin-top: 0;
    }
    
    .sub-article {
        font-size: small;
        color: gray;
        float: right;
        margin-right: 20px;
        cursor: pointer;
    }
    
    .gallery span {
        font-size: small;
        color: gray;
        margin-left: 30px;
        cursor: pointer;
    }
    
    .time {
        font-size: small;
        color: gray;
        margin-right: 20px;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        color: white;
    }
    
    li a {
        display: block;
        color: #000;
        padding-top: 10px;
        padding-bottom: 0;
        text-decoration: none;
        height: 50px;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.375rem;
    }
    
    li a:hover {
        color: grey;
    }
    
    .a10 {
        grid-area: a10;
        background-color: white !important;
    }
    
    .times-logo {
        width: 300px;
        height: auto;
        padding-left: 70px;
    }
    
    .top-fotter {
        display: flex;
        justify-content: space-between;
        padding-right: 70px;
    }
    
    .line-fotter {
        width: 1200px;
    }
    
    .footer-container {
        display: flex;
    }
    
    .left {
        width: 79%;
        display: flex;
    }
    
    .center {
        width: 01%;
    }
    
    .right {
        width: 20%;
        font-size: 12px;
    }
    
    .f1 {
        flex: 1;
        font-size: 12px;
        padding-left: 70px;
        line-height: 8px;
    }
    
    .f2 {
        flex: 1;
        font-size: 12px;
        line-height: 8px;
    }
    
    .f3 {
        flex: 1;
        font-size: 12px;
        line-height: 8px;
    }
    
    .f4 {
        flex: 1;
        font-size: 12px;
        line-height: 8px;
    }
    
    .f5 {
        flex: 1;
        font-size: 12px;
        line-height: 8px;
    }
    
    .title-f {
        font-size: 15px !important;
    }
    
    .a11 {
        display: flex;
        justify-content: space-between;
        padding-right: 100px;
        padding-left: 100px;
        background-color: white;
    }
    
    .a11 p {
        font-size: 12px;
        color: #666;
    }
    
    .line-bottom {
        width: 1200px;
    }
    
    .v-line {
        width: 0.5px;
        height: 370px;
    }
    
    .inside-line {
        width: 150px;
        margin-right: 50%;
    }
    
    .icon-bottom {
        width: 13px;
        height: auto;
        margin-right: 2px;
    }
    
    .left .f1 p:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .left .f2 p:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .left .f3 p:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .left .f4 p:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .left .f5 p:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .a11 p:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .right strong:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .next-page a:link {
        text-decoration: none;
    }
    
    .next-page a:visited {
        text-decoration: none;
    }
    
    .co1 {
        text-align: center;
        padding-top: 10px;
    }
    
    #article-small {
        color: #666;
        font-size: 0 .875rem;
        line-height: 1.125rem;
        font-weight: 300px;
        font-style: normal;
        padding-top: 0;
        padding-left: 300px;
        padding-right: 200px;
    }
    
    #article-small h3 {
        margin-left: 0px;
        color: #000;
    }
    
    .article-small .pos-text {
        margin-left: 100px !important;
        margin-right: 200px;
    }